<div class="container home-container">
  <div class="content-container">

    <div class="row">
      <div class="col-md-12">
        <form [formGroup]="quickSearch" class="adds-lookup">
          <h6>Recherchez parmi nos {{annoncesSize}} véhicules</h6>
          <div class="input-group md-12">
            <ng-select class="marque" [items]="marques" placeholder="marque..." formControlName="marque"
              (change)="updateModeles()" (clear)="clearMarque()" >
            </ng-select>
            <ng-select class="modele" [items]="modeles" placeholder="modèle..." formControlName="modele"
              (change)="updateMarques()" (clear)="clearModele()" >
            </ng-select>
            <input type="text" class="prix" placeholder="Prix max..." ngDisabled="blockSlider"
              [ngClass]="[blockSlider ? 'disabled' : '']" formControlName="price" (click)="togglePriceView()" >
              <div class="input-group-btn prix-group">
                <button class="btn btn-default" type="submit" (click)="clearPrice()">
                  <i [ngClass]="[quickSearch.get('price').value ? 'fas fa-times fa-sm' : 'fas fa-euro-sign fa-sm']"></i>
                </button>
              </div>
            <div class="input-group-append">
              <button type="submit" class="btn btn-primary" type="button" >
                <i class="fas fa-search"></i> Rechercher
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-3 offset-md-8" >
        <div [ngClass]="choosePriceClass()" class="price-range prix">
          <input type="text" class="js-range-slider" />
        </div>
      </div>
    </div>

    <div class="row presentation center-block">
      <div class="col-md-6 parc">
        <img class="img-fluid" src="../../assets/images/rubriques/parc.JPG" alt="">
      </div>
      <div class="col-md-6 description">
        <h4 class="text-center">PATANA AUTO à Pamfou en SEINE ET MARNE</h4>
        <div class="bullets">
          <h6><i class="fas fa-circle fa-xs"></i> VÉHICULES D'OCCASION TOUTE MARQUE</h6>
          <h6><i class="fas fa-circle fa-xs"></i> ACHAT - VENTE - REPRISE</h6>
          <h6><i class="fas fa-circle fa-xs"></i> FINANCEMENT ET GARANTIE</h6>
        </div>
        <p class="intro-text text-white-50">
          Tous nos véhicules sont disponibles et visibles dans nos locaux. Grâce à notre site
          internet, découvrez régulièrement les nouveaux véhicules que nous faisons rentrer en parc, et préparez ainsi
          votre prochaine visite dans nos locaux...</p>

        <hr class="d-none d-lg-block mb-0 ml-0">
      </div>
    </div>

  </div>
</div>
