@import "../app.component.scss";

.about-container {
  font-family: 'Arima Madurai';
  text-transform: uppercase;
  background-image: url('../../assets/images/bg1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 40px;

  .carousel {
    width: 740px;
    height: auto;
  }

  .speech {
    .material-card {
      @include materialCard(rgba(168, 4, 10, .8));
      color: $white;
      bottom: 0;
      padding: 20px;
      height: auto;
      bottom: 15px;
      font-family: 'Arima Madurai';
      font-weight: 100;
      font-size: .8rem;
      text-align: center;
    }

    .bg-right {
      padding: 50px 50px 90px 50px;
    }

    .bg-faded {
      @include opacity($plain-white, 0.8);

      .title {
        font-family: 'Raleway';
        font-size: 15px;
        font-weight: 900;
        border-bottom: 1px solid $gray-900;
        padding-bottom: 5px;
        color: $gray-700;
      }

      .patana-title {
        font-family: 'Raleway';
        color: $primary;
        font-weight: 100;
        font-size: 1.6rem;
      }

      .text {
        text-align: justify;
        word-break: break-word;

        &.second, &.third {
          color: $gray-700;
        }
      }
    }

    .p-5 {
      padding: 20px;
    }

    .partLeft, .partRight {
      width: 21%;
      position: absolute;
      top: 150px;
      font-family: 'Karla';
      z-index: 10;

      .vl {
        border-left: 3px solid $primary;
        z-index: 100;
        position: absolute;
      }
    }

    .partLeft {
      left: 60px;

      .vl {
        top: 40px;
        left: 32px;
        height: 47%;
      }
    }

    .partRight {
      right: 60px;

      .intro {
        font-family: 'Raleway';
        font-weight: 100;
        font-size: 18px;
        color: $black;
      }

      .suite {
        font-family: 'Raleway';
        font-weight: 900;
        color: $gray-700;
        font-size: 13px;
      }

      .horaires {
        color: $primary;
        font-family: 'Karla';
        font-size: 14px;

        .l1, .l3 {
          font-weight: 700;
        }

        .l2 {
          margin-top: -35px;
          margin-bottom: -8px;
          margin-left: 14px;
          color: $gray-700;
        }

        .l4 {
          margin-top: -35px;
          margin-left: 14px;
          color: $gray-700;
        }
      }
    }
  }
}
