@import "../app.component.scss";

@media only screen and (max-width: 560px) {
  .about-container {
    .carousel {
      width: 100%;
    }
    .partLeft, .partRight {
      width: 100%;
    }
  }
}

@media only screen and (min-width: 768px) {
  .about-container {
    .carousel {
      width: 85%;
      margin-bottom: 30px;
    }
  }
}

@media only screen and (max-width: 991px) {
  .about-container {
    .arrow-down-white {
      @include arrow-down-white(.9);
    }
  }
}

@media only screen and (min-width: 561px) and (max-width: 991px) {
  .about-container {
    .partLeft, .partRight {
      width: 100%;
    }
    .second, .third {
      margin-left: 30px;
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1130px) {
  .about-container {
    .partLeft, .partRight {
      width: 82%;
    }
    .second, .third {
      margin-left: 30px;
    }
  }
}

@media only screen and (max-width: 1130px) {
  .about-container {
    .carousel {
      position: relative;
    }
    .partLeft, .partRight {
      position: relative;
      display: block;
      margin-left: auto;
      margin-right: auto;

    }
    .partLeft {
      .bg-faded {
        padding: 50px 50px 25px 50px;
        border-top-left-radius: .175em;
        border-top-right-radius: .175em;
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          width: 60%;
          height: 2px;
          background: $primary;
        }
      }
    }
    .partRight {
      margin-bottom: -25px;
      .bg-faded {
        padding: 25px 50px 110px 50px;
        border-bottom-left-radius: .175em;
        border-bottom-right-radius: .175em;
      }
    }
    .vl {
      visibility: hidden;
    }
  }
}

@media only screen and (min-width: 1131px) and (max-width: 1190px) {
  .about-container {
    .carousel {
      width: 55%;
    }
    .partLeft, .partRight {
      width: 280px;
    }
    .partLeft {
      left: -245px;
      .bg-faded {
        padding: 30px 30px 10px 50px;
      }
    }
    .partRight {
      right: -245px;
      .bg-faded {
        padding: 30px 30px 110px 30px;
      }
    }
  }
}

@media only screen and (min-width: 1191px) {
  .about-container {
    .carousel {
      width: 62%;
    }
    .partLeft, .partRight {
      width: 290px;
    }
    .partLeft {
      left: -255px;
      .bg-faded {
        padding: 50px 50px 20px 50px;
      }
    }
    .partRight {
      right: -255px;
      .bg-faded {
        padding: 50px 50px 110px 50px;
      }
    }
  }
}

@media only screen and (min-width: 1131px) {
  .about-container {
    .carousel {
      margin-bottom: 0;
    }
    .bg-faded {
      border-radius: .175em;
    }
    .partLeft, .partRight {
      top: 30px;
      position: absolute;
    }
    .text {
      font-size: .85em;
    }
  }
}

@media only screen and (min-width: 1600px) {
  .about-container {
    .carousel {
      width: 63%;
    }
    .partRight {
      .bg-faded {
        padding: 50px 50px 130px 50px;
      }
    }
    .partLeft, .partRight {
      width: 320px;
    }
    .material-card {
      font-size: 1rem;
    }
    .title {
      font-size: 1.1em;
    }
    .patana-title {
      font-size: 1.8em;
    }
    .intro {
      font-size: 1.3em;
    }
    .suite {
      font-size: 1em;
    }
    .horaires {
      font-size: 1em;
    }
    .text {
      font-size: 1em;
    }
  }
}

@media only screen and (max-width: 1599px) {
  .about-container {
    .material-card {
      font-size: .8rem;
    }
    .title {
      font-size: .9em;
    }
    .patana-title {
      font-size: 1.6em;
    }
    .intro {
      font-size: 1.1em;
    }
    .suite {
      font-size: .8em;
    }
    .horaires {
      font-size: .8em;
    }
  }
}

.about-container {
  text-transform: uppercase;

  .carousel {
    height: auto;

    .material-card {
      @include materialCard($primary);
      @include box-shadow-simple($black);
      color: $white;
      padding: 20px;
      height: auto;
      bottom: 20px;
      font-family: 'Arima Madurai';
      font-weight: 500;
      text-align: center;
    }

    .bg-faded {
      @include opacity($plain-white, 0.9);

      .title {
        font-family: 'Raleway';
        font-weight: 900;
        border-bottom: 1px solid $gray-900;
        padding-bottom: 5px;
        color: $gray-700;
      }

      .patana-title {
        font-family: 'Raleway';
        color: $primary;
        font-weight: 100;
      }

      .text {
        font-family: 'Arima Madurai';
        color: $black;
        font-weight: 500;
        text-align: justify;
        word-break: break-word;

        i {
          color: $primary;
        }

        &.second, &.third {
          color: $gray-700;
        }
      }
    }

    .p-5 {
      padding: 20px;
    }

    .partLeft, .partRight {
      z-index: 10;
    }

    .partLeft {
      .vl {
        border-left: 3px solid $primary;
        z-index: 100;
        position: absolute;
        top: 40px;
        left: 32px;
        height: 47%;
      }
    }

    .partRight {
      .intro {
        font-family: 'Raleway';
        font-weight: 100;
        color: $primary;
      }

      .suite {
        font-family: 'Raleway';
        font-weight: 900;
        color: $gray-700;
      }

      .horaires {
        color: $primary;
        font-family: 'Arima Madurai';
        font-weight: 500;

        .l1 {
          font-weight: 700;
        }

        .l2 {
          margin-top: -25px;
          color: $gray-700;
        }
      }
    }
  }
}
