<div class="container-fluid about-container">
  <div class="content-container">

    <div class="d-flex justify-content-center">
      <div class="col-md-7">
        <div id="myCarousel2" class="carousel slide carousel-fade" data-ride="carousel">
          <ol class="carousel-indicators">
            <li *ngFor="let image of images; let i=index" data-target="#myCarousel2" attr.data-slide-to="{{i}}"
              [ngClass]="[i==0 ? 'active' : '']">
            </li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item" [ngClass]="[i==0 ? 'active' : '']"
              *ngFor="let image of images; let i=index">
              <img class="d-block w-100 rounded" src="../../assets/images/{{image}}" alt="First slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#myCarousel2" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#myCarousel2" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
