@import "../app.component.scss";

@media only screen and (min-width: 1600px) {
  #mainNav {
    .nav-link {
      font-size: 1.1em;
    }
  }
}

@media only screen and (max-width: 1600px) {
  #mainNav {
    .nav-link {
      font-size: .9em;
    }
  }
}

#mainNav {
  background-color: $gray-bg;
  position: fixed;
  z-index: 1000;

  .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: $white;
    border: 0;
    background-color: $primary;
  }

  .navbar-nav {
    .nav-item {
      .nav-link {
        @include transition(color .3s ease-in-out);
        padding: 1.1em 1em;
        letter-spacing: 1px;
        color: $white;
        &.active,
        &:hover {
          text-shadow: 1px 2px 2px $black;
          color: $primary;
        }
      }
    }
  }
}
