@import "../app.component.scss";

.service-container {
  .timeline-container {
    padding: 0 50px 0 50px;
    color: $gray-900;

    .blocker {
      @include opacity($plain-white, .85);
      padding: 20px;
      border-radius: 8px;
    }

    .dot {
      &.right {
        margin-right: 5px;
      }
      
      &.left {
        margin-left: 5px;
      }
    }

    h5 {
      font-family: 'Raleway';
      font-weight: 100;
      font-size: 1.5rem;
      color: $primary;
      padding-bottom: 7px;
    }

    p {
      font-family: 'Arima Madurai';
      text-align: justify;
      font-weight: 500;
      text-transform: uppercase;
      font-size: .8rem;
    }

    .circle {
      border: 3px solid $primary;
      width: 150px;
      height: 115px;
      border-radius: 50%;
      z-index: 10;
      position: absolute;
    }

    .circle1 {
      background: url('../../assets/images/handshake.jpg');
      background-repeat: no-repeat;
      background-position: center;
      top: -86px;
      left: 30px;
    }

    .circle2 {
      background: url('../../assets/images/pigs.jpg');
      background-repeat: no-repeat;
      background-position: center;
      top: -45px;
      right: 30px;
    }

    .circle3 {
      background: url('../../assets/images/hands.jpg');
      background-repeat: no-repeat;
      background-position: center;
      left: 30px;
      top: -45px;
    }
  }
}

