@import "../app.component.scss";

@media only screen and (max-width: 1135px) {
  #service-wrap {
    padding: 0;
  }
}

@media only screen and (min-width: 701px) {
  .service-container {
    .timeline-container {
      padding: 0 50px 0 50px;
    }
  }
}

@media only screen and (min-width: 701px) {
  .service-container {
    .circle {
      width: 150px;
      height: 115px;
    }

    .circle1 {
      left: -135px;
    }

    .circle2 {
      right: -135px;
    }

    .circle3 {
      left: -135px;
    }
  }
}

@media only screen and (max-width: 700px) {
  .service-container {
    .circle {
      width: 140px;
      height: 105px;
    }

    .block-1 {
      margin-top: 50px;
    }
    .circle1 {
      right: 0;
      top: -65px;
    }
    .block-2 {
      margin-top: 50px;
    }
    .circle2 {
      left: 0;
      top: -95px;
    }
    .block-3 {
      margin-top: 50px;
    }
    .circle3 {
      right: 0;
      top: -95px;
    }
  }
}

@media only screen and (max-width: 1600px) {
  .service-container {
    h5 {
      font-size: 1.5em;
    }
    p {
      font-size: .8em;
    }
  }
}

@media only screen and (min-width: 1600px) {
  .service-container {
    .circle {
      width: 150px;
      height: 115px;
    }

    h5 {
      font-size: 1.9em;
    }
    p {
      font-size: 1em;
    }
  }
}

.service-container {
  .timeline-container {
    color: $gray-900;

    .blocker {
      @include opacity($plain-white, .9);
      padding: 20px;
      border-radius: 8px;
    }

    .dot {
      &.right {
        margin-right: 5px;
      }
      
      &.left {
        margin-left: 5px;
      }
    }

    h5 {
      font-family: 'Raleway';
      font-weight: 100;
      color: $primary;
      padding-bottom: 7px;
    }

    p {
      font-family: 'Arima Madurai';
      text-align: justify;
      font-weight: 500;
      text-transform: uppercase;
    }

    .circle {
      border: 3px solid $primary;
      z-index: 10;
      position: absolute;
      border-radius: 50%;
    }

    .circle1 {
      background: url('../../assets/images/handshake.jpg');
      background-repeat: no-repeat;
      background-position: center;
    }

    .circle2 {
      background: url('../../assets/images/pigs.jpg');
      background-repeat: no-repeat;
      background-position: center;
    }

    .circle3 {
      background: url('../../assets/images/hands.jpg');
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

