<div class="container-fluid service-container">
  <div class="content-container">
    <div class="row">
      <div class="col-md-12">
        <div class="timeline-container">
          <div class="row align-items-center how-it-works">
            <div class="col-2 text-center bottom">
              <div class="circle circle1"></div>
            </div>
            <div class="col-8 blocker">
              <h5>Garanties</h5>
              <p class="text-justify">Tous nos véhicules sont couverts au minimum (3 mois, la garantie légale).
                Nous proposons sur tous nos véhicules une extension garantie nationale 
                valable dans un garage au choix près de chez vous, de 3 à 12 mois pièces 
                et main d’œuvre avec notre partenaire DYNASSURANCES.
                Ces garanties comprennent les pièces et la main d'œuvre
              </p>
            </div>
          </div>
          <div class="row timeline">
            <div class="col-2">
              <div class="corner top-right"></div>
            </div>
            <div class="col-8">
              <hr />
            </div>
            <div class="col-2">
              <div class="corner left-bottom"></div>
            </div>
          </div>
          <div class="row align-items-center justify-content-end how-it-works">
            <div class="col-8 text-right blocker">
              <h5>Financement</h5>
              <p class="text-right">Possibilité de financement avec notre partenaire VIAXEL de 12 à 60 mois, 
                avec ou sans apport.</p>
              <p class="text-right">Devis instantané et personnalisé établi sur place par votre conseiller commercial.</p>
            </div>
            <div class="col-2 text-center full">
              <div class="circle circle2"></div>
            </div>
          </div>
          <div class="row timeline">
            <div class="col-2">
              <div class="corner right-bottom"></div>
            </div>
            <div class="col-8">
              <hr />
            </div>
            <div class="col-2">
              <div class="corner top-left"></div>
            </div>
          </div>
          <div class="row align-items-center how-it-works">
            <div class="col-2 text-center top">
              <div class="circle circle3"></div>
            </div>
            <div class="col-8 blocker">
              <h5>Autres services</h5>
              <p class="text-justify">Nous proposons dans le cadre de la fidélisation de notre clientèle la possibilité 
                d’accompagner nos clients dans l'entretien de leur véhicule.</p>
              <p class="text-justify">Habilités par la Préfecture de Seine et Marne, nous vous proposons d’établir sur 
                place la « Carte grise » de même que la fourniture et la pose de plaques.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
