<div class="contact-container">
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nameInput" class="bmd-label-floating">Nom</label>
      <input type="text" class="form-control" id="nameInput">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1" class="bmd-label-floating">Email</label>
      <input type="email" class="form-control" id="exampleInputEmail1">
    </div>
    <div class="form-group">
      <label for="subjectInput" class="bmd-label-floating">Sujet</label>
      <input type="text" class="form-control" id="subjectInput">
    </div>
    <div class="form-group">
      <label for="textAreaInput">Message</label>
      <textarea class="form-control" id="textAreaInput" rows="3"></textarea>
    </div>
    <div class="text-center">
      <button type="button" class="btn custom-primary">Envoyer</button>
    </div>
  </form>
</div>
