// variables

$white: #E3E2DE !default;
$plain-white: #ffffff;
$hovered-red: #a53d3f !default;
$active-red: #7f0002 !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-650: #525252 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$gray-text: #8B8B8B !default;
$gray-icon: #999 !default;
$gray-bg: #222222 !default;
$black: #0B0C0F !default;
$light-red: #ef4b4b;
$primary: #A9040A !default;
$green: #0C9463 !default;


// font-family
@font-face {
  font-family: 'Karla';
  src: url('/assets/fonts/Karla-Regular.woff2') format('woff2'),
       url('/assets/fonts/Karla-Regular.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Karla';
  src: url('/assets/fonts/Karla-Bold.woff2') format('woff2'),
       url('/assets/fonts/Karla-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('/assets/fonts/Raleway-Black.woff2') format('woff2'),
       url('/assets/fonts/Raleway-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('/assets/fonts/Raleway-ExtraLight.woff2') format('woff2'),
       url('/assets/fonts/Raleway-ExtraLight.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('/assets/fonts/Raleway-Regular.woff2') format('woff2'),
       url('/assets/fonts/Raleway-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arima Madurai';
  src: url('/assets/fonts/ArimaMadurai-Black.woff2') format('woff2'),
       url('/assets/fonts/ArimaMadurai-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arima Madurai';
  src: url('/assets/fonts/ArimaMadurai-Regular.woff2') format('woff2'),
       url('/assets/fonts/ArimaMadurai-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arima Madurai';
  src: url('/assets/fonts/ArimaMadurai-ExtraLight.woff2') format('woff2'),
       url('/assets/fonts/ArimaMadurai-ExtraLight.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Knewave';
  src: url('/assets/fonts/Knewave-Regular.woff2') format('woff2'),
       url('/assets/fonts/Knewave-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// mixins
@mixin opacity($color, $opacity) {
  background-color: rgba($color, $opacity);
}

@mixin box-shadow-light {
  box-shadow: 0 2px 2px 0 rgba($plain-white, 0.50), 0 2px 10px 0 rgba($plain-white, 0.52);
}

@mixin box-shadow-blur {
  box-shadow: 0 2px 5px 0 rgba($black, .16), 0 2px 10px 0 rgba($black, .12);
}

@mixin box-shadow-dark {
  text-shadow: 1px 2px 2px $black;
  box-shadow: 1px 2px 2px $black;
}

@mixin color-inputs {
  ::-webkit-input-placeholder {
      color: $gray-icon;
      font-family: 'Karla', sans-serif;
  }
  ::-moz-placeholder {
      color: $gray-icon;
      font-family: 'Karla', sans-serif;
  }
  ::-ms-placeholder {
      color: $gray-icon;
      font-family: 'Karla', sans-serif;
  }
  ::placeholder {
      color: $gray-icon;
      font-family: 'Karla', sans-serif;
  }
}

@mixin disable-highlight {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

@mixin box-shadow {
  -webkit-box-shadow: 1px -1px 7px -1px rgba(0,0,0,0.81);
  -moz-box-shadow: 1px -1px 7px -1px rgba(0,0,0,0.81);
  box-shadow: 1px -1px 7px -1px rgba(0,0,0,0.81);
}

@mixin transition($val) {
  -webkit-transition: $val;
  -moz-transition: $val;
  -ms-transition: $val;
  -o-transition: $val;
  transition: $val;
}

@mixin transformOrigin($val) {
  -webkit-transform-origin: $val;
  -moz-transform-origin: $val;
  -ms-transform-origin: $val;
  -o-transform-origin: $val;
  transform-origin: $val;
}

@mixin transform($val) {
  -webkit-transform: $val;
  -moz-transform: $val;
  -ms-transform: $val;
  -o-transform: $val;
  transform: $val;
}

@mixin custom-scrollbar {
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}

@mixin magnifier {
  .dock-container li img {
    @include transition(all 0.3s);
    @include transformOrigin(100% 100%);
  }

  .dock-container li:hover {
    opacity: 1;
  }

  .dock-container li:hover img { 
    @include transform(scale(2));
  }

  .dock-container li:hover img {
    margin-left: 1.5rem;
  }
}

@mixin materialCard($color) {
  background-color: $color;
  position: absolute;
  width: calc(100% + 10px);
  margin: 0;
  left: -10px;
  z-index: 100;

  &:before, &:after {
    content: ' ';
    position: absolute;
    left: 0;
    top: -10px;
    border: 5px solid $color;
    width: 0;
    box-sizing: border-box;
  }

  &:before {
    border-top-color: transparent;
    border-right-color: $color;
    border-bottom-color: $color;
    border-left-color: transparent;
  }

  &:after {
    border-top-color: $color;
    border-right-color: $color;
    border-bottom-color: transparent;
    border-left-color: transparent;
    top: auto;
    bottom: 0;
  }
}

@mixin placeHolder($color, $size, $family, $text) {
  .custom-input {
    &:-webkit-input-placeholder {
      color: $color;
      font-size: $size;
      font-family: $family;
      text-transform: $text;
    }
    &:-moz-input-placeholder {
      color: $color;
      font-size: $size;
      font-family: $family;
      text-transform: $text;
    }
    &:-ms-input-placeholder {
      color: $color;
      font-size: $size;
      font-family: $family;
      text-transform: $text;
    }
    &:-o-input-placeholder {
      color: $color;
      font-size: $size;
      font-family: $family;
      text-transform: $text;
    }
    &::placeholder {
      color: $color;
      font-size: $size;
      font-family: $family;
      text-transform: $text;
    }
  }
}

@mixin button {
  font-family: 'Karla';
  font-size: .8rem;
  text-transform: uppercase;
  padding: 5px 14px 5px 14px;
  border-radius: 20px;

  &:hover {
    cursor: pointer;
  }
}

@mixin stroke($color, $stroke, $width) {
  -webkit-text-fill-color: $color;
  -webkit-text-stroke-width: $width;
  -webkit-text-stroke-color: $stroke;
}

@mixin pulsate {
  -webkit-animation: pulsate 2s ease-out;
  -webkit-animation-iteration-count: infinite; 
  -moz-animation: pulsate 2s ease-out;
  -moz-animation-iteration-count: infinite; 
  -ms-animation: pulsate 2s ease-out;
  -ms-animation-iteration-count: infinite; 
  -o-animation: pulsate 2s ease-out;
  -o-animation-iteration-count: infinite; 
  animation: pulsate 2s ease-out;
  animation-iteration-count: infinite; 
  opacity: 0.2;

  @keyframes pulsate {
    0% { opacity: 0.2; }
    50% { opacity: 1.0; }
    100% { opacity: 0.2; }
  }
  @-webkit-keyframes pulsate {
    0% { opacity: 0.2; }
    50% { opacity: 1.0; }
    100% { opacity: 0.2; }
  }
  @-ms-keyframes pulsate {
    0% { opacity: 0.2; }
    50% { opacity: 1.0; }
    100% { opacity: 0.2; }
  }
  @-moz-keyframes pulsate {
    0% { opacity: 0.2; }
    50% { opacity: 1.0; }
    100% { opacity: 0.2; }
  }
  @-o-keyframes pulsate {
    0% { opacity: 0.2; }
    50% { opacity: 1.0; }
    100% { opacity: 0.2; }
  }
  @-webkit-keyframes pulsate {
    0% { opacity: 0.2; }
    50% { opacity: 1.0; }
    100% { opacity: 0.2; }
  }
}
