<div class="bg annonce-container">
  <div class="container-fluid">
    <div class="content-container">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card text-center">
              <div class="card-header">
                <div class="model">
                  <h4>{{annonce.title}}</h4>
                  <div class="version">{{annonce.VehiculeVersion}}</div>
                </div>
                <div id="ribbon-container">
                  <a id="ribbon">{{annonce.VehiculePrixVenteTTC}}€</a>
                </div>
              </div>
              <div class="card-body">

                <div class="row">
                  <div class="col-sm-12 col-lg-7">
                    <div id="annonceCarousel" class="carousel slide carousel-fade" data-ride="carousel"
                      data-interval="false">
                      <div class="carousel-inner" role="listbox">
                        <div class="carousel-item" *ngFor="let image of annonce.images; let i=index"
                          [ngClass]="[i==0 ? 'active' : '']">
                          <img class="d-block w-100" src="{{image}}" alt="First slide">
                        </div>
                        <button class="custom-primary" (click)="enlargeImage()">
                          <i class="fas fa-search-plus"></i>Agrandir
                        </button>
                        <a class="carousel-control-prev" href="#annonceCarousel" role="button" data-slide="prev"
                          [ngClass]="[isPrevDisabled ? 'disabled' : '']">
                          <span class="fas fa-chevron-circle-left" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#annonceCarousel" role="button" data-slide="next"
                          [ngClass]="[isNextDisabled ? 'disabled' : '']">
                          <span class="fas fa-chevron-circle-right" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div>
                      <ol class="carousel-indicators justify-content-start">
                        <li *ngFor="let image of annonce.images; let i=index" data-target="#annonceCarousel"
                          attr.data-slide-to="{{i}}" [ngClass]="[i==0 ? 'active' : '']" (click)="changeActiveItem(i)">
                          <img src="{{image}}" alt="First slide">
                        </li>
                      </ol>
                    </div>
                  </div>

                  <div class="col-sm-12 col-lg-5 infos">
                    <h5><i class="fas fa-info-circle"></i> Informations générales</h5>
                    <div class="table-responsive table-borderless table-striped">
                      <table class="table">
                        <tbody>
                          <tr>
                            <th class="row-1">Mise en circulation:</th>
                            <th class="row-2">{{annonce.VehiculeCarteGriseDate}}</th>
                          </tr>
                          <tr>
                            <th class="row-1">Kilométrage:</th>
                            <th class="row-2">{{annonce.VehiculeKilometrage}}</th>
                          </tr>
                          <tr>
                            <th class="row-1">N° de places:</th>
                            <th class="row-2">{{annonce.VehiculeNbPlaces}}</th>
                          </tr>
                          <tr>
                            <th class="row-1">N° de portes:</th>
                            <th class="row-2">{{annonce.VehiculeNbPortes}}</th>
                          </tr>
                          <tr>
                            <th class="row-1">Sellerie:</th>
                            <th class="row-2">{{annonce.VehiculeSellerie}}</th>
                          </tr>
                          <tr>
                            <th class="row-1">Peinture métallisée:</th>
                            <th class="row-2">{{annonce.VehiculePeintureMetallisee}}</th>
                          </tr>
                          <tr>
                            <th class="row-1">Prix du véhicule neuf:</th>
                            <th class="row-2">{{annonce.VehiculePrixNeuf}}</th>
                          </tr>
                          <tr>
                            <th class="row-1">Couple moteur:</th>
                            <th class="row-2">{{annonce.VehiculeMoteurCouple}}</th>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

                <!--[if lt IE 10]>
                <style>
                .options li {
                    width: 25%;
                    float: left
                }
                </style>
                <![endif]-->

                <div class="row no-gutters">
                  <div class="col-md-12 options">
                    <h5><i class="fas fa-tools"></i> Options & Equipements</h5>
                    <div class="table-responsive table-borderless table-striped
                      col-sm-12 col-lg-8 offset-lg-2 d-none d-sm-block">
                      <table class="table">
                        <tbody>
                          <tr *ngFor="let optionDuo of options;">
                            <td><i *ngIf="optionDuo[0]" class="fas fa-check-circle"></i> {{optionDuo[0]}}</td>
                            <td><i *ngIf="optionDuo[1]" class="fas fa-check-circle"></i> {{optionDuo[1]}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                    <div class="table-responsive table-borderless table-striped col-xs-12 d-block d-sm-none">
                      <table class="table">
                        <tbody>
                          <tr *ngFor="let o of options; let i=index">
                            <td *ngIf="o.pair"><i class="fas fa-check-circle"></i> {{o.pair}}</td>
                          </tr>
                          <tr *ngFor="let o of options; let i=index">
                            <td *ngIf="o.impair"><i class="fas fa-check-circle"></i> {{o.impair}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 mesure">
                    <h5><i class="fas fa-battery-three-quarters"></i> Puissance & Consommation</h5>
                    <div class="row conso d-flex justify-content-center">
                      <div class="col-md-12">
                        <p><strong>Consommation</strong></p>
                      </div>
                      <div class="col-sm-12 col-md-8">
                        <div class="chart-container">
                          <canvas id="consoChart" title="consommation"></canvas>
                        </div>
                      </div>
                    </div>

                    <div class="row power">
                      <div class="col-md-12">
                        <p><strong>Puissance</strong></p>
                      </div>
                      <div class="col-md-6">
                        <div class="chart-container">
                          <canvas id="fiscaleChart"></canvas>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="chart-container reelle">
                          <canvas id="reelleChart"></canvas>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
