// annonce-container {
//   overflow: scroll;
// }

// .view .mask {
//   overflow: hidden;
// }
// .view {
//   overflow: hidden;
// }
.card.card-cascade.wider .view.view-cascade {
  z-index: 2;
}

.card.card-cascade .view.view-cascade {
  border-radius: .25rem;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}

.card.card-cascade.wider.reverse .card-body.card-body-cascade {
  z-index: 3;
  margin-top: -1rem;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}

.card.card-cascade.wider .card-body.card-body-cascade {
  margin-right: 4%;
  margin-left: 4%;
}
