@import "../app.component.scss";

.annonce-container {
  .card {
    border: unset;
    border-radius: unset;
    background-color: unset;

    .card-header{
      background-color: $primary;
      border-radius: unset;
      border-bottom: 2px solid $active-red;
      text-align: center;

      .model {
        display: inline-block;
        text-align: left;

        h4 {
          color: $white;
        }

        .version {
          margin-top: -10px;
        }
      }
    }

    .card-body {
      background-color: rgb(82, 82, 82, 0.7);

      .carousel {
        .carousel-indicators {
          li {
            width: .625rem;
            height: .625rem;
            cursor: pointer;
            border-radius: 50%;
          }
        }
      }
    }

    h5, p {
      color: $white;
    }

    .view {
      height: calc(100vh - 320px);

      img {
        object-fit: contain;
        height: 100%;
        width: 100%;
      }
    }
  }
}
