<div class="container-fluid annonce-container">
  <div class="content-container">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">

          <div class="card text-center">
            <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#images-link">Images</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#description-link">Description</a>
                </li>
              </ul>
            </div>
            <div class="card-body">
              <h5 class="card-title">{{annonce.VehiculeMarque}} {{annonce.VehiculeModele}}</h5>
              <p class="card-text">{{annonce.VehiculeVersion}}</p>

              <div class="tab-content">
                <div class="tab-pane container active" id="images-link">
                  <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
                    <span *ngFor="let image of annonce.images; let i=index">
                      <mdb-carousel-item>
                        <div class="view">
                          <img src="../../assets/selsia-photos/{{image}}" alt="First slide">
                          <div mdbWavesEffect></div>
                        </div>
                        <div class="carousel-caption">
                        </div>
                      </mdb-carousel-item>
                    </span>
                  </mdb-carousel>
                </div>

                <div class="tab-pane container fade" id="description-link">
                  <table class="table table-dark">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
