@import "../app.component.scss";

.annonce-container {

  h3, h4, h5, h6, p {
    font-family: 'Raleway';
  }

  h3, h4 {
    color: $white;
    font-weight: normal;
  }

  h5, h6 {
    color: $gray-800;
    text-transform: uppercase;
    font-weight: 100;
  }

  h5 {
    text-shadow: 1px 1px 2px rgba($gray-800, .5);
    margin-bottom: 5vmin;
  }

  p {
    font-weight: normal;
    text-transform: uppercase;
  }

  .card {
    border: unset;
    border-radius: unset;
    background-color: unset;

    .card-header {
      background-color: $primary;
      border-radius: unset;
      text-align: center;
      position: relative;

      .model {
        display: inline-block;
        text-align: left;

        .version {
          margin-top: -10px;
        }
      }

      #ribbon-container {
        font-family: 'Knewave', 'Karla', cursive;
        position: absolute;
        top: 7.5px;
        right: -15px;
        overflow: visible;
        font-size: 21px;
        line-height: 18px;
      }

      #ribbon-container:before {
        content: "";
        height: 0;
        width: 0;
        display: block;
        position: absolute;
        top: 3px;
        left: 0;
        border-top: 29px solid rgba(0, 0, 0, .3);
        border-bottom: 29px solid rgba(0, 0, 0, .3);
        border-right: 29px solid rgba(0, 0, 0, .3);
        border-left: 29px solid transparent;
      }

      #ribbon-container:after {
        content: "";
        height: 3px;
        background: rgba(0, 0, 0, .3);
        display: block;
        position: absolute;
        bottom: -3px;
        left: 58px;
        right: 3px;
      }

      #ribbon-container a {
        cursor: default;
        display: block;
        padding: 20px;
        position: relative;
        background: $white;
        overflow: visible;
        height: 58px;
        margin-left: 29px;
        color: $hovered-red;
        text-decoration: none;
      }

      #ribbon-container a:after {
        content: "";
        height: 0;
        width: 0;
        display: block;
        position: absolute;
        bottom: -15px;
        right: 0;
        border-top: 15px solid $white;
        border-right: 15px solid transparent;
      }

      #ribbon-container a:before {
        content: "";
        height: 0;
        width: 0;
        display: block;
        position: absolute;
        top: 0;
        left: -29px;
        border-top: 29px solid $white;
        border-bottom: 29px solid $white;
        border-right: 29px solid transparent;
        border-left: 29px solid transparent;
      }
    }

    .card-body {
      @include magnifier;
      @include opacity($plain-white, 0.9);

      .custom-primary-inversed {
        position: absolute;
        bottom: 7px;
        right: 5px;
        z-index: 11;

        i {
          margin-right: 7px;
        }
      }

      .carousel-indicators {
        position: relative;
        margin: 0 0 20px 0;
        padding: 0;
        height: 100%;
        width: 100%;

        li {
          width: 100%;
          box-sizing: border-box;
        }
      }

      .carousel-inner {
        border-bottom: 2px solid $primary;
      }

      .infos {
        margin-top: 10px;

        .table {
          tr {
            &:nth-of-type(odd) {
              @include opacity($gray-800, 0.8);
              color: $white;
            }
            &:nth-child(even) {
              color: $gray-800;
            }
          }
          
          th {
            text-align: left;
          }

          .row-1 {
            font-family: 'Raleway';
            font-weight: 500;
            text-transform: uppercase;
          }

          .row-2 {
            font-weight: 100;
          }
        }
      }

      .options {
        margin-top: 70px;
      }

      .autre, .mesure {
        font-family: 'Arima Madurai';
        font-size: .9rem;
        margin-top: 40px;
      }

      .list-infos {
        display: inline-block;
        text-align: center;
        padding: 0 30px;
        -moz-column-count: 2;
        -moz-column-gap: 20px;
        -webkit-column-count: 2;
        -webkit-column-gap: 20px;
        column-count: 2;
        column-gap: 20px;
        list-style: none;
        text-align: left;

        li {
          margin-bottom: 8px;
          font-size: .9rem;

          i {
            padding-right: 5px;
          }
        }
      }

      .mesure {
        .conso {
          padding-top: 10px;
        }

        .power {
          padding-top: 50px;
        }
      }
    }
  }
}
