@import "app/app.component.scss";

html {
  overflow:auto;
  height: 100%;
}

body {
  @include custom-scrollbar;

  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Karla', sans-serif;
  background-color: black;
  
  .content {
    padding-top: 76.5px;
    height: 100%;
    width: 100%;
    position: relative;
  }

  .bg {
    width: 100%;
    height: auto;
    position: relative;
    padding-top: 40px;
    background-image: url('./assets/images/bg-6.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .content-container {
    width: 100%;
    height: 100%;
    padding: 0 100px 0 100px;
  }

  .searcher {
    text-align: center;
    font-family: 'Raleway';
    color: $primary;
    font-family: 2.5rem;
    font-weight: 100;
    font-size: 1.4rem;
  }

  .filter-box {
    padding-top: 20px;
  }

  a {
    text-decoration: none!important;
  }

  textarea:hover,
  input:hover,
  select:hover,
  .form-control:hover,
  textarea:active,
  input:active,
  select:active,
  .form-control:active,
  textarea:focus,
  input:focus,
  select:focus,
  .form-control:focus,
  button:focus,
  button:active,
  button:hover,
  label:focus,
  .btn:hover,
  .btn:hover,
  .btn:active,
  .btn.active {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
  }

  p {
    font-size: 14px;
    font-weight: 100;
  }

  h4 {
    font-weight: 800;
  }

  h6 {
    font-size: 16px;
  }

  @include color-inputs;


  /* Map Styling */
  .gmnoprint div, .gmnoprint a {
    color: $gray-700!important;
    background-color: $gray-800;
  }
  .gm-style-cc:last-child {
    display: none !important;
  }


  /* forms and inputs */
  .ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container {
    border-color: $white;
    box-shadow: none;
  }

  .form-control:focus {
    background-color: transparent;
    border-color: $plain-white;
    color: $white;
  }

  .form-clear {
    align-items: center;
    bottom: 1.35rem;
    color: $gray-600;
    cursor: pointer;
    display: flex;
    height: 23px;
    justify-content: center;
    position: absolute;
    right: 22px;
    width: 24px;
    z-index: 10;
  }

  .ng-select .ng-clear-wrapper {
    font-family: "Font Awesome 5 Free";
    position: absolute;
    right: 2rem;
    bottom: 0.5rem;
    color: $gray-600;
  }

  .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    font-family: 'Karla', sans-serif;
    font-size: small;
  }

  .ng-select .ng-select-container .ng-value-container {
    padding: 0;
  }

  // carousel
  .carousel {
    .carousel-indicators {
      li.active {
        background-color: $primary;
        border: solid 1px $primary;
      }

      li:not(active) {
        border: solid 1px $hovered-red;
        background-color: $light-red;
      }

      li {
        width: .625rem;
        height: .625rem;
        cursor: pointer;
        border-radius: 10px;
      }
    }
    .carousel-control-next, .carousel-control-prev {
      opacity: .9;

      &:hover {
        .carousel-control-next-icon, .carousel-control-prev-icon {
          opacity: .6;
          transition: all 0.2s ease-in-out;
        }
      }
    }
    .carousel-control-next {
      justify-content: flex-end;
    }
    .carousel-control-prev {
      justify-content: flex-start;
    }
    .carousel-control-next-icon, .carousel-control-prev-icon {
      opacity: 1;
      background-color: $primary;
      padding: 20px 0 20px 0px;
    }
  }

  @include placeHolder(rgba($white, .6), .8rem, 'Arima Madurai', uppercase);

  .form-control:disabled {
    background-color: transparent;
    background-image: none;
  }

  .ng-select .ng-select-container, .custom-input {
    background-clip: padding-box;
    background-color: transparent;
    border-radius: 0;
    display: block  ;
    border: solid rgba($white, .6);
    line-height: 1.5;
    border-width: 0 0 1px;
    color: rgba($white, .6);
    font-size: .8rem;
    font-family: 'Arima Madurai';
    text-transform: uppercase;
    padding: 10px 0 0 0;

    &:hover {
      border-color: $plain-white;
      opacity: 0.6;
      border-width: 0 0 1.5px;
    }
  }

  .ng-select .ng-arrow-wrapper {
    position: absolute;
    right: 0;
    bottom: 0.5rem;
  }

  .ng-select .ng-clear-wrapper {
    font-weight: 900;
  }

  .ng-select.ng-select-opened.ng-select-bottom>.ng-select-container {
    background-color: transparent;
  }

  .ng-dropdown-panel {
    background-color: transparent;
    border: none;
  }

  .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    @include opacity($gray-800, 0.85);
    color: $white;
  }

  .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
    @include opacity($primary, 0.75);
    color: $plain-white;
  }

  .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected, .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked {
    @include opacity($primary, 0.75);
    color: $plain-white;
  }


  // bootstrap material design customizer
  .custom-file-control, .form-control,
  .is-focused .custom-file-control,
  .is-focused .form-control {
    background-image: linear-gradient(0deg, $primary 2px,rgba(0,150,136,0) 0),
      linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);
  }


  //slider
  .slide-range {
    @include box-shadow;
    @include opacity($gray-800, 0.95);
    border-radius: 15px;
    position: absolute;
    z-index: 1000;
    width: 100%;
    transition: all .3s ease-in-out;
    transform-origin: left top;
    transform: scaleY(0);
    padding: 15px;
    margin-top: 0.2rem;

    .irs--flat
    .irs-bar,
    .irs-shadow,
    .irs-single,
    .irs-from,
    .irs-to, .irs-max {
      background-color: $primary;
      color: $plain-white;
    }
    .irs-from:before, .irs-to:before, .irs-single:before {
      border-top-color: $primary;
    }
    .irs-grid-text {
      color: $plain-white;
    }

    &.show {
      transform: scaleY(1);
    }

    &.hide {
      transform: scaleY(0);
    }
  }

  .search-title {
    color: $white;
    margin-bottom: 20px;
  }

  .filters {
    @include opacity($gray-900, 0.8);
    padding: 30px 50px 30px 50px;
  }

  .box {
    @include opacity($primary, 0.7);
    border-radius: 10px;
    padding: 10px;
  }

  .dot {
    height: 10px;
    width: 10px;
    border: solid 1px $primary;
    background-color: transparent;
    border-radius: 50%;
    display: inline-block;
  }

  .highlight {
    color: $primary;
  }

  .badge-light {
    background-color: $white;
  }

  .alert-default {
    background-color: transparent;
    color: $white;
  }

  .custom-default {
    font-family: 'Karla';
    font-size: .8rem;
    text-transform: uppercase;
    padding: 5px 20px 5px 20px;
    color: $gray-800;
    background-color: transparent;
    border: solid 2px $gray-800;
    border-radius: 20px;

    &:hover {
      cursor: pointer;
      background-color: $gray-800;
      color: $plain-white;
      border-color: $gray-800;
    }
  }

  .custom-primary {
    font-family: 'Karla';
    font-size: .8rem;
    text-transform: uppercase;
    padding: 5px 20px 5px 20px;
    color: $white;
    background-color: transparent;
    border: solid 2px $primary;
    border-radius: 20px;

    &:hover {
      cursor: pointer;
      background-color: $primary;
      color: $plain-white;
      border-color: $primary;
    }

    &:disabled {
      color: $gray-700;
      border-color: rgba($primary, .4);
    }
  }
}
