<div class="bg home-container">
  <div class="container-fluid">
    <div class="content-container" id="home-wrap">
      <div class="row">
        <div class="col-md-12">
          <form class="inline" [formGroup]="quickSearch">
            <div class="row filters">
              <div class="col-md-12">
                <h6 class="searcher">Recherchez parmi nos {{annoncesSize}} véhicules</h6>
              </div>
              <div class="row input-group filter-box">
                <div class="col-sm-12 col-lg">
                  <ng-select class="form-group form-control marque" [items]="marques"
                    placeholder="marque..." formControlName="marque" notFoundText="{{notFoundText}}"
                    (change)="update()" (clear)="clearMarque()">
                  </ng-select>
                </div>
                <div class="col-sm-12 col-lg">
                  <ng-select class="form-group form-control modele" [items]="modeles"
                    placeholder="modèle..." (change)="update()" notFoundText="{{notFoundText}}"
                    formControlName="modele">
                  </ng-select>
                </div>
                <div class="col-sm-12 col-lg">
                  <div class="form-group">
                    <input type="text" class="form-control price custom-input" placeholder="Prix max..."
                      ngDisabled="blockSlider" [ngClass]="[blockSlider ? 'disabled' : '']" formControlName="price"
                      (click)="togglePriceView()">
                    <div class="form-clear d-none"><i class="fas fa-times fa-sm"></i></div>
                    <div class="icon"><i class="fas fa-euro-sign fa-sm"></i></div>

                    <div [ngClass]="choosePriceClass()" class="slide-range price">
                      <input type="text" class="js-range-slider" />
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-lg-auto filter-button">
                  <button type="submit" class="custom-primary" (click)="redirectToFilteredAnnonces()">
                    <i class="fas fa-search"></i> Rechercher
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="row presentation center-block">
        <div class="col-sm-12 col-md-12 col-lg-6 p-0">
          <div class="intro-text text-center">
            <div class="section heading-upper">patana Auto</div>
            <div class="section heading-lower">à pamfou en seine et marne</div>
            <hr class="d-none d-lg-block mb-0 ml-0">
            <div class="bullets">
              <h6><i class="dot"></i> véhicules d'occasion toute marque</h6>
              <h6><i class="dot"></i> achat - vente - reprise</h6>
              <h6><i class="dot"></i> financement et garantie</h6>
            </div>
            <div class="subsection">
              <p class="mb-3">
                Tous nos véhicules sont disponibles et visibles dans nos locaux. Grâce à notre site
                internet, découvrez régulièrement les nouveaux véhicules que nous faisons rentrer en parc, et préparez
                ainsi
                votre prochaine visite dans nos locaux...</p>
              <div class="button-container">
                <button class="custom-default custom-xl center-block" routerLink="/plan" routerLinkActive="active">
                  Venez nous rendre visite!
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 p-0">
          <div class="intro-img rounded">
            <img class="img-fluid" src="../../assets/images/rubriques/parc.JPG" alt="">
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

