@import "../app.component.scss";

@media only screen and (max-width: 991px) {
  .home-container {
    .arrow-down-white {
      @include arrow-down-gray;

    }
    .presentation {
      margin-top: 0px;
    }
    .intro-text {
      border-radius: 0;
      &:after {
        content: '';
        position: absolute;
        height: 1px;
        width: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 0;
        background: $gray-800;
      }
    }
    form {
      margin-bottom: 0;
    }
    .intro-img {
      margin-top: 0;
    }
    .filter-button button {
      width: 100%;
    }
  }
}

@media only screen and (min-width: 992px) {
  .home-container {
    .intro-text {
      border-radius: 0.175em;
    }
    .presentation {
      margin-top: 40px;
    }
    .material-card {
      h6 {
        font-size: 1.2em;
      }
      small {
        font-size: 1em;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 990px) {
  .home-container {
    .intro-img {
      margin-top: -15px;
      position: relative;
      z-index: 10;

      img {
        width: 80%;
        display: block;
        margin: 0 auto;
      }
    }
  }
}

@media only screen and (min-width: 991px) and (max-width: 1200px) {
  .home-container {
    .intro-text {
      .bullets h6 {
        font-size: .95rem;
      }
    }
    .intro-img {
      margin-left: -15px;
      margin-top: 20px;
      position: relative;
      z-index: 10;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .home-container {
    .intro-text {
      position: relative;
      z-index: 10;
    }
    .intro-img {
      margin-left: 0px;
      margin-top: 0px;
    }
  }
}

.home-container {
  color: $white;

  .ng-placeholder {
    color: $gray-600;
  }

  .filter-button {
    cursor: initial;
    margin-top: 7px;
    word-wrap: break-word;

    i {
      padding-right: 5px;
    }
  }

  .last-annonces {
    @include opacity($plain-white, 1);
    position: relative;
    width: 100%;
    display: inline-block;
    z-index: 10;
    color: $black;
    padding: 35px;

    .card {
      width: (100% / 3);;
    }

    .material-card {
      @include materialCard($primary);
      @include box-shadow-dark;
      bottom: -5em;
      height: 5em;

      h6 {
        color: $white;
      }

      small {
        text-shadow: none;
        color: $black;
      }
    }

    .fa-camera {
      position: absolute;
      top: -10px;
      right: -10px;
      border-radius: 60px;
      padding: 0.5em 0.6em;
      color: $white;
      background-color: $primary;
      z-index: 21;
      @include box-shadow-dark;
      
      span {
        padding-left: 3px;
        font-family: 'Karla', sans-serif;
        font-size: 1.1em;
      }
    }

    .badges {
      position: absolute;
      bottom: -28px;
      @include box-shadow-blur;
    }

    .badge {
      border-radius: unset;
      margin-right: 1px;
      padding: 7px;

      i {
        padding-right: 3px;
      }
    }
  }

  .intro-img {
    img {
      border-radius: 0.175em;
      max-width: 100%;
      height: auto;
    }
  }

  .section {
    font-family: 'Raleway';
    text-transform: uppercase;

    &.heading-upper {
      font-weight: 100;
      font-size: 2rem;
      color: $primary;
    }

    &.heading-lower {
      color: $gray-800;
      font-weight: 800;
      font-size: 1rem;
    }
  }

  .intro-text {
    @include opacity($plain-white, 1);
    z-index: 10;
    color: $black;
    padding: 35px;
    margin: 0 50px 50px 50px;
    margin-top: -60px;
  }

  .bullets {
    margin-top: 30px;
    padding-left: 20px;
    text-align: left;
    color: rgba($gray-800, .8);
    text-align: center;

    .bullet {
      display: inline-block;
      position: relative;
      vertical-align: middle;
    }

    h6 {
      text-transform: uppercase;
      font-family: 'Karla';
      font-weight: light;
      text-align: justify;
      margin-top: 10px;

      i {
        margin-right: 8px;
        color: $primary;
      }
    }
  }

  .subsection {
    font-family: 'Arima Madurai';
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 30px;
    text-align: justify;
    color: $black;
  }

  .button-container {
    width: 100%;
    margin-top: 20px;
    text-align: center;

    button {
      display: inline-block;
    }
  }

  hr {
    @include opacity($gray-700, .5);
  }
}
