@import "../app.component.scss";

@media only screen and (max-width: 991px) {
  .home-container {
    .presentation {
      margin-top: 0px;
    }
    .intro-text {
      border-radius: 0;
    }
    .intro-img {
      margin-top: 0;
    }
    .filter-button button {
      width: 100%;
    }
  }
}

@media only screen and (min-width: 992px) {
  .home-container {
    .intro-text {
      border-radius: 0.175em;
    }
    .presentation {
      margin-top: 40px;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 990px) {
  .home-container {
    .intro-img {
      margin-top: -15px;
      position: relative;
      z-index: 10;

      img {
        width: 80%;
        display: block;
        margin: 0 auto;
      }
    }
  }
}

@media only screen and (min-width: 991px) and (max-width: 1200px) {
  .home-container {
    .intro-text {
      margin-right: 0px;
      margin-top: 0px;
      .bullets h6 {
        font-size: .95rem;
      }
    }
    .intro-img {
      margin-left: -15px;
      margin-top: 20px;
      position: relative;
      z-index: 10;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .home-container {
    .intro-text {
      margin-right: -20px;
      margin-top: 20px;
      position: relative;
      z-index: 10;
    }
    .intro-img {
      margin-left: 0px;
      margin-top: 0px;
    }
  }
}

.home-container {
  color: $white;

  .ng-placeholder {
    color: $gray-600;
  }

  .filter-button {
    cursor: initial;
    margin-top: 7px;
    word-wrap: break-word;

    i {
      padding-right: 5px;
    }
  }

  .intro-text {
    @include opacity($plain-white, 1);
    position: relative;
    z-index: 10;
    color: $black;
    padding: 35px;
  }

  .intro-img {
    img {
      border-radius: 0.175em;
      max-width: 100%;
      height: auto;
    }
  }

  .section {
    font-family: 'Raleway';
    text-transform: uppercase;

    &.heading-upper {
      font-weight: 100;
      font-size: 2rem;
      color: $primary;
    }

    &.heading-lower {
      color: $gray-800;
      font-weight: 800;
      font-size: 1rem;
    }
  }

  .bullets {
    margin-top: 30px;
    padding-left: 20px;
    border-left: 1px solid rgba($primary, .5);
    text-align: left;
    color: rgba($gray-800, .8);

    h6 {
      text-transform: uppercase;
      font-family: 'Karla';
      font-weight: light;

      i {
        margin-right: 8px;
        color: $primary;
      }
    }
  }

  .subsection {
    font-family: 'Arima Madurai';
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 30px;
    text-align: justify;
    color: $black;
  }

  .button-container {
    width: 100%;
    margin-top: 20px;
    text-align: center;

    button {
      display: inline-block;
    }
  }

  hr {
    @include opacity($gray-700, .5);
  }
}
