@import "../app.component.scss";

.home-container {
  color: $white;

  .slide-range {
    padding: 15px;
    margin-top: 0.2rem;
  }

  .adds-lookup {
    @include opacity($gray-650, 0.6);
    padding: 30px;

    .form-clear {
      align-items: center;
      background: #cecece;
      border-radius: 50%;
      bottom: 22px;
      color: rgba(0, 0, 0, .54);
      cursor: pointer;
      display: flex;
      height: 23px;
      justify-content: center;
      position: absolute;
      right: 22px;
      width: 24px;
      z-index: 10;
    }

    .form-control {
      border-radius: unset;
      border: unset;
      font-size: small;
      height: calc(1.5em + 0.9rem + 2px);
    }

    .adds-lookup {
      padding-top: 30px;
      
      .ng-placeholder {
        color: $gray-600;
      }

      .input-group {
        i {
          padding-right: 5px;
        }

        .price {
          &.disabled {
            color: $gray-600;
            font-style: italic;
            outline: none;
            @include disable-highlight;
          }
        }

        .prix-group {
          height: 36px;
          background-color: $white;

          button {
            cursor: initial;

            i {
              color: $gray-text;
            }
          }
        }

        button {
          border-radius: unset;
          border: unset;
        }
      }
    }
  }

  .presentation {
    margin-top: 20px;
    padding: 0 15px;

    .intro {
      .intro-img {
        width: 75%;
        float: right;
        
        img {
          border-radius: 0.25rem;
        }
      }

      .intro-text {
        color: $black;
        width: 45%;
        margin-top: 3rem;
        position: absolute;

        .section {
          font-family: 'Raleway';
          text-transform: uppercase;

          &.heading-upper {
            font-weight: 100;
            font-size: 2rem;
            color: $primary;
          }

          &.heading-lower {
            font-weight: 800;
            font-size: 1rem;
          }
        }

        .bullets {
          margin-top: 30px;
          padding-left: 20px;
          border-left: 3px solid $primary;
          text-align: left;

          .fa-check-circle {
            color: $primary;
          }

          h6 {
            i {
              margin-right: 8px;
            }
          }
        }

        .subsection {
          margin-top: 30px;
          text-align: justify;
        }

        hr {
          background-color: $gray-800;
        }

        .intro-button button {
          padding: 15px;
        }
      }

      .bg-faded {
        @include opacity($plain-white, 0.85);
      }

      .intro-button {
        width: 100%;
        left: 0;
        position: absolute;
        bottom: -2rem;

        a {
          padding: 10px;
        }
      }
    }
  }

}
