@import "../app.component.scss";

.annonces-container {
  .content-container {
    form {
      padding: 0 0 20px 0;

      .form-control {
        background-image: none;
      }

      .length {
        margin-top: 20px;

        .result-vehicules {
          float: right;
          color: $white;
        }
      }
    }

    .btn-group {
      padding-bottom: 25px;

      button {
        background-color: transparent;
        color: rgba($white, .6);
        border: solid rgba($white, .6);
        border-width: 0 0 1px;
        border-radius: unset;
        font-size: smaller;
      }

      .itemNumber {
        margin-right: 10px;
      }

      .dropdown-menu {
        @include opacity($gray-800, 0.85);
        color: $white;
        text-transform: lowercase;
        font-size: small;
      }

      .dropdown-item:hover {
        @include opacity($primary, 0.55);
        color: $plain-white;
      }

      .dropdown-item {
        color: $white;
      }

      a:not([href]):not([tabindex]),
      a:not([href]):not([tabindex]):focus,
      a:not([href]):not([tabindex]):hover {
        color: $plain-white;
      }
    }

    .card-row {
      padding-top: 70px;

      &:nth-child(-n+3) {
        padding-top: 0;
      }

      &:first-child {
        padding-left: 0;
      }

      &:nth-child(3n+3) {
        padding-right: 0;
      }

      .card {
        border-radius: unset;
        background: unset;

        &:hover {
          top: 2px;
          cursor: pointer;
          opacity: .8;
        }

        .image {
          .card-img-top {
            display: block;
            width: 100%;
            height: 17vw;
            object-fit: cover;
          }

          .fa-camera {
            position: absolute;
            top: 10px;
            right: 10px;
            border-radius: 60px;
            box-shadow: 0px 0px 2px #888;
            padding: 0.5em 0.6em;
            color: $white;
            background-color: $primary;
            z-index: 210;
            
            span {
              padding-left: 3px;
              font-family: 'Karla', sans-serif;
            }
          }
        }

        .card-body {
          position: relative;
          color: $white;
          padding: 0;

          .material-card {
            @include materialCard($primary);
            top: 0;
            height: 53px;

            h6 {
              margin: 0;
              line-height: 0;
              padding: 8px 0 0.3vw 0;
              font-size: 1vw;
            }

            small {
              color: $gray-text;
              top: 30px;
              left: 10px;
              z-index: 200;
              font-size: 0.9vw;
            }
          }

          .center-badges {
            .badges {
              position: absolute;
              bottom: 8px;
              @include box-shadow-dark;

              .badge {
                border-radius: unset;
                margin-right: 1px;
                padding: 7px;
                font-size: 0.9vw;

                i {
                  padding-right: 3px;
                }
              }  
            }
          }
        }
      }
    }
  }
}
