<div class="bg annonces-container">
  <div class="container-fluid">
    <div class="content-container">
      <div class="row">
        <div class="col-md-12">
          <form class="inline" [formGroup]="searchForm">
            <div class="row filters">
              <div class="col-md-12">
                <h5 class="search-title">Recherchez parmi nos {{annoncesSize}} véhicules</h5>
              </div>
              <div class="row input-group filter-box">
                <div class="col-sm-12 col-md-4 order-md-1">
                  <ng-select class="form-group form-control marque" [items]="marques" placeholder="marque..."
                    formControlName="marque" (clear)="clear('marque')" dropdownPosition="bottom"
                    notFoundText="{{notFoundText}}" (change)="update()">
                  </ng-select>
                </div>
                <div class="col-sm-12 col-md-4 order-md-2">
                  <ng-select class="form-group form-control modele" [items]="modeles" placeholder="modèle..."
                    formControlName="modele" (clear)="clear('modele')" dropdownPosition="bottom"
                    notFoundText="{{notFoundText}}" (change)="update()">
                  </ng-select>
                </div>
                <div class="col-sm-12 col-md-4 order-md-4">
                  <ng-select class="form-group form-control version" [items]="versions"
                    placeholder="version/finition..." formControlName="version" (clear)="clear('version')" dropdownPosition="bottom" (open)="onVersionOpen()" (close)="onVersionClose()"
                    (change)="update()" notFoundText="{{notFoundText}}" >
                  </ng-select>
                </div>
                <div class="col-sm-12 col-md-4 order-md-5">
                  <ng-select class="form-group form-control sellerie" [items]="selleries" placeholder="sellerie..."
                    formControlName="sellerie" (clear)="clear('sellerie')" dropdownPosition="bottom"
                    (open)="onVersionOpen()" (close)="onVersionClose()" (change)="update()"
                    notFoundText="{{notFoundText}}">
                  </ng-select>
                </div>
                <div class="col-sm-12 col-md-4 order-md-3">
                  <div class="form-group">
                    <input type="text" class="form-control custom-input price" placeholder="Prix max..."
                      ngDisabled="blockPriceSlider" [ngClass]="[blockPriceSlider ? 'disabled' : '']"
                      formControlName="price" (click)="togglePriceView();">
                    <div class="form-clear d-none" (click)="resetSlider('price')">
                      <i class="fas fa-times fa-sm"></i>
                    </div>
                    <div class="icon"><i class="fas fa-euro-sign fa-sm"></i></div>
                    <div [ngClass]="choosePriceClass()" class="slide-range slide-price">
                      <input type="text" class="js-price-slider" />
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-4 order-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control custom-input km" placeholder="km max..."
                      ngDisabled="blockKmSlider" [ngClass]="[blockKmSlider ? 'disabled' : '']" formControlName="km"
                      (click)="toggleKmView();">
                    <div class="form-clear d-none" (click)="resetSlider('km')">
                      <i class="fas fa-times fa-sm"></i>
                    </div>
                    <div class="icon"><i class="fas fa-tachometer-alt fa-sm"></i></div>
                    <div [ngClass]="chooseKmClass()" class="slide-range slide-km">
                      <input type="text" class="js-km-slider" />
                    </div>
                  </div>
                </div>

                <div class="col-sm-12 col-md-6 order-md-8">
                  <button *ngIf="searchForm.controls.modele.value || searchForm.controls.marque.value ||
                    searchForm.controls.version.value || searchForm.controls.sellerie.value ||
                    searchForm.controls.price.value || searchForm.controls.km.value"
                    type="submit"
                    class="custom-primary reinitButton"
                    (click)="resetFilters([])">
                    <i class="fas fa-redo-alt"></i> Réinitialiser
                  </button>
                </div>
                <div class="col-sm-12 col-md-6 order-md-7">
                  <div class="vehiculeNumber vehiculeNumber-hidden">
                    <h6 class="box">{{filteredAnnonces.length}} Véhicules</h6>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="row justify-content-end">
        <div class="btn-group dropleft custom-toggle dropdown">
          <button type="button"
            class="dropdown-toggle"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            (click)="sort()">
              <i class="fas fa-caret-left fa-lg"></i>
                Trier par: <span>{{tri}}</span>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" (click)="filterAnnonces(['price'], true, 'asc')">Prix croissant</a>
            <a class="dropdown-item" (click)="filterAnnonces(['price'], true, 'desc')">Prix décroissant</a>
            <a class="dropdown-item" (click)="filterAnnonces(['date'], true, 'desc')">Date</a>
            <a class="dropdown-item" (click)="filterAnnonces(['km'], true, 'asc')">Km</a>
          </div>
        </div>
      </div>

      <div class="row">
        <div *ngIf="!loading" class="cards-block">
          <div class="column" *ngFor="let annonce of filteredAnnonces; let i=index">
            <div class="card" (click)="redirectToAnnonce(annonce._id)">
              <div class="image">
                <i class="fas fa-camera"><span>{{annonce.images.length}}</span></i>
                <img [ngClass]="imageClass(annonce._id)" src="/photos/{{annonce.images[0]}}" >
              </div>
              <div class="card-body">
                <div class="material-card">
                  <div class="banner">
                    <h6>{{annonce.title}}</h6>
                    <div class="modele">
                      <small>{{annonce.VehiculeVersion}}</small>
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-center center-badges">
                  <div class="badges">
                    <span class="badge badge-light">
                      <i class="fas fa-euro-sign"></i>{{annonce.VehiculePrixVenteTTC[0]}}
                    </span>
                    <span class="badge badge-light">
                      <i class="fas fa-birthday-cake"></i>{{annonce.VehiculeDate1Mec[0] | dateAgo}}
                    </span>
                    <span class="badge badge-light">
                      <i class="fas fa-tachometer-alt"></i>{{annonce.VehiculeKilometrage[0]}} km
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="loading" class="svg-loader">
          <app-svg-loader message="chargement..."></app-svg-loader>
          <h6 class="pulsate">chargement...</h6>
        </div>
      </div>
    </div>
  </div>
</div>
