@import "../app.component.scss";

@media only screen and (max-width: 768px) {
  .annonces-container .reinitButton {
    display: block;
    width: 100%;
  }
  .vehiculeNumber {
    margin-top: 10px;
    display: block;
    width: 100%;
  }
  .cards-block .column {
    width: 100%;
    display: block;
  }
  .card {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 992px) {
  #annonces-wrap {
    padding: 0 35px 0 35px;
  }
}

@media only screen and (min-width: 576px) {
  .cards-block .column {
    width: calc(100% / 2);
  }
  .card {
    padding: 16px;
  }
}

@media only screen and (min-width: 768px) {
  .annonces-container .reinitButton {
    float: right;
  }
  .vehiculeNumber {
    float: left;
  }
}

@media only screen and (min-width: 992px) {
  .cards-block .column {
    width: calc(100% / 3);
  }
}

.annonces-container {
  .content-container {
    form {
      .vehiculeNumber {
        opacity: 1;
        @include transition(all 0.3s);
      }

      .vehiculeNumber-hidden {
        opacity: 0;
      }

      .reinitButton {
        i {
          margin-right: 5px;
        }
      }
    }

    .btn-group {
      padding-bottom: 25px;

      button {
        @include opacity($plain-white, .9);
        color: $primary;
        border: solid 2px $primary;
        border-radius: 20px;
        font-size: smaller;
        font-weight: 500;

        &:hover {
          background-color: $primary;
          color: rgba($plain-white, .9);
          border-color: rgba($plain-white, .9);
        }
      }

      .itemNumber {
        margin-right: 10px;
      }

      .dropdown-menu {
        @include opacity($gray-800, 0.85);
        color: $white;
        text-transform: lowercase;
        font-size: small;
      }

      .dropdown-item:hover {
        @include opacity($primary, 0.55);
        color: $plain-white;
      }

      .dropdown-item {
        color: $white;
      }

      a:not([href]):not([tabindex]),
      a:not([href]):not([tabindex]):focus,
      a:not([href]):not([tabindex]):hover {
        color: $plain-white;
      }
    }

    .cards-block {
      .column {
        float: left;
        margin-bottom: 50px;
      }
    }

    .card {
      border-radius: unset;
      background: unset;

      &:hover {
        top: 2px;
        cursor: pointer;
        opacity: .8;
      }

      .image {
        .card-img-top {
          display: block;
          width: 100%;
          height: auto;
          object-fit: cover;
        }

        .fa-camera {
          position: absolute;
          top: 10px;
          right: 10px;
          border-radius: 60px;
          box-shadow: 0px 0px 2px #888;
          padding: 0.5em 0.6em;
          color: $white;
          background-color: $primary;
          z-index: 210;
          
          span {
            padding-left: 3px;
            font-family: 'Karla', sans-serif;
          }
        }
      }

      .card-body {
        position: relative;
        color: $white;
        padding: 0;

        .material-card {
          @include materialCard($primary);
          top: 0;
          height: 53px;

          h6 {
            margin: 0;
            line-height: 0;
            padding: 8px 0 0.3vw 0;
            font-size: 1vw;
          }

          small {
            color: $gray-text;
            top: 30px;
            left: 10px;
            z-index: 200;
            font-size: 0.9vw;
          }
        }

        .center-badges {
          .badges {
            position: absolute;
            bottom: 8px;
            @include box-shadow-dark;

            .badge {
              border-radius: unset;
              margin-right: 1px;
              padding: 7px;
              font-size: 0.9vw;

              i {
                padding-right: 3px;
              }
            }  
          }
        }
      }
    }
  }
}
