<div class="container-fluid annonces-container">
  <div class="content-container">
    <form [formGroup]="searchForm">
      <div class="container-fluid">
        <div class="row filters">
          <h6 class="search-title">Recherchez parmi nos {{annoncesSize}} véhicules</h6>
          <div class="col-md-12">
            <div class="input-group">
              <ng-select class="marque" [items]="marques" placeholder="marque..." formControlName="marque"
                (change)="update('marque')" (clear)="clear('marque')" dropdownPosition="bottom"
                notFoundText="{{notFoundText}}">
              </ng-select>
              <ng-select class="modele" [items]="modeles" placeholder="modèle..." formControlName="modele"
                (change)="update('modele')" (clear)="clear('modele')" dropdownPosition="bottom"
                notFoundText="{{notFoundText}}">
              </ng-select>
              <input type="text" class="customInput prix" placeholder="Prix max..." ngDisabled="blockPriceSlider"
                [ngClass]="[blockPriceSlider ? 'disabled' : '']" formControlName="price" (click)="togglePriceView()">
              <div class="input-group-btn group">
                <button class="btn btn-default" type="submit" (click)="clearPrice()">
                  <i
                    [ngClass]="[searchForm.get('price').value ? 'fas fa-times fa-sm' : 'fas fa-euro-sign fa-sm']"></i>
                </button>
              </div>
              <div class="col-md-3 offset-md-8">
                <div [ngClass]="choosePriceClass()" class="slide-range slide-prix">
                  <input type="text" class="js-price-slider" />
                </div>
              </div>
            </div>
            <div class="input-group">
              <ng-select class="version" [items]="versions" placeholder="version/finition..."
                formControlName="version" (change)="update('version')" (clear)="clear('version')"
                notFoundText="{{notFoundText}}" dropdownPosition="bottom">
              </ng-select>
              <ng-select class="sellerie" [items]="selleries" placeholder="sellerie..." formControlName="sellerie"
                (change)="update('sellerie')" (clear)="clear('sellerie')" dropdownPosition="bottom"
                notFoundText="{{notFoundText}}">
              </ng-select>
              <input type="text" class="customInput km" placeholder="km max..." ngDisabled="blockKmSlider"
                [ngClass]="[blockKmSlider ? 'disabled' : '']" formControlName="km" (click)="toggleKmView()">
              <div class="input-group-btn group">
                <button class="btn btn-default" type="submit" (click)="clearKm()">
                  <i [ngClass]="[searchForm.get('km').value ? 'fas fa-times fa-sm' : 'fas fa-tachometer-alt fa-sm']">
                  </i>
                </button>
              </div>
              <div class="col-md-3 offset-md-8">
                <div [ngClass]="chooseKmClass()" class="slide-range slide-km">
                  <input type="text" class="js-km-slider" />
                </div>
              </div>
            </div>

            <!-- <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Check me out
            </label>
          </div>
        </div> -->
          </div>

          <div class="col-md-12">
            <h6 class="result-vehicules">{{filteredAnnonces.length}} Véhicules correspondants</h6>
          </div>
        </div>
      </div>
    </form>

    <div class="container-fluid">
      <div class="row justify-content-end">
        <div class="btn-group display">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            afficher {{limit}} résultats
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" (click)="limit = 10; filterAnnonces()">1O</a>
            <a class="dropdown-item" (click)="limit = 50; filterAnnonces()">50</a>
            <a class="dropdown-item" (click)="limit = annoncesSize; filterAnnonces()">tout</a>
          </div>
        </div>
        <div class="btn-group order">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Trier par: {{tri}}
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" (click)="filterAnnonces('prix')">Prix croissant</a>
            <a class="dropdown-item" href="#">Prix décroissant</a>
            <a class="dropdown-item" href="#">Marque</a>
            <a class="dropdown-item" href="#">Modèle</a>
            <a class="dropdown-item" href="#">Année</a>
            <a class="dropdown-item" href="#">Km</a>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 card-row" *ngFor="let annonce of filteredAnnonces; let i=index">
          <div class="card mb-2" (click)="navigateToAnnonce(i, annonce)">
            <div class="image">
              <i class="fas fa-camera"><span>{{annonce.images.length}}</span></i>
              <img class="img-responsive card-img-top" [src]="mainImage(annonce)">
            </div>
            <div class="card-body">
              <div class="material-card">
                <h6>{{annonce.VehiculeMarque}} {{annonce.VehiculeModele}} </h6>
                <small>{{annonce.VehiculeVersion}}</small>
              </div>
              <div class="d-flex justify-content-center center-badges">
                <div class="badges">
                  <span class="badge badge-light">
                    <i class="fas fa-euro-sign"></i>{{annonce.VehiculePrixVenteTTC[0]}}
                  </span>
                  <span class="badge badge-light">
                    <i class="fas fa-birthday-cake"></i>{{annonce.VehiculeCarteGriseDate[0] | dateAgo}}
                  </span>
                  <span class="badge badge-light">
                    <i class="fas fa-tachometer-alt"></i>{{annonce.VehiculeKilometrage[0]}} km
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
