@import "../app.component.scss";

@media only screen and (max-width: 767px) {
  .plan-container {
    form {
      margin-bottom: 0;
    }
    .map-descriptor {
      width: 100%;
      border-radius: 0;
    }
    .map-content, .contact-content {
      padding-right: 0;
      padding-left: 0;
    }
    .arrow-down-white {
      @include arrow-down-white;
    }
  }
}

@media only screen and (min-width: 768px) {
  .plan-container {
    .map-descriptor {
      width: 80%;
      margin-bottom: 18px;
      border-radius: .175em;
    }
  }
}

@media only screen and (max-width: 991px) {
  .plan-container {
    .map-container {
      border-radius: 0;
      border-top-left-radius: .175em;
      border-top-right-radius: .175em;
    }
    .contact-container {
      border-radius: 0;
      border-bottom-left-radius: .175em;
      border-bottom-right-radius: .175em;
      &:after {
        content: '';
        position: absolute;
        top: 0;
        height: 2px;
        width: 50%;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        background: $primary;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .plan-container {
    .map-container {
      border-radius: .175em;
    }
    .contact-container {
      border-radius: .175em;
    }
  }
}

.plan-container {
  color: $gray-700;
  text-align: center;

  .map-descriptor {
    @include opacity($plain-white, .9);
    z-index: 1;
    display: inline-block;
    padding: 20px 5px 5px 5px;
    position: relative;
    text-align: center;
    text-transform: uppercase;

    .title {
      font-weight: 100;
      font-size: 1.6rem;
      font-family: 'Raleway';
      color: $primary;
    }

    .text {
      padding: 0px 60px 0px 60px;
      text-align: justify;
      font-size: .85rem;
      font-weight: 500;
      font-family: 'Arima Madurai';
      color: $gray-800;

      i {
        color: $primary;
      }
    }
  }

  .map-content {
    .zooms {
      @include opacity($primary, .95);
      margin: 10px 10px;
    }

    .plus {
      margin-bottom: 5px;
    }
  }

  .alert {
    position: absolute;
    left: 0;
    top: 10px;
    right: 0;
    margin: auto;
    width: 95%;
  }

  input, textarea {
    color: rgba($white, .7);
    font-family: 'Arima Madurai';
    text-transform: uppercase;
    font-size: .7em;
  }
  
  .submitting {
    div:not(.svg-loader) {
      opacity: .5;
    }
  }

  .contact-container {
    @include opacity($gray-800, 0.8);
    position: relative;
    z-index: 10;
    height: 100%;
    padding: 30px 20px 5px 20px;
    text-align: left;
    font-family: 'Arima Madurai';
    text-transform: uppercase;

    .svg-loader {
      position: absolute; 
      left: 0; 
      right: 0; 
      margin-left: auto; 
      margin-right: auto;
      top: 50%;
      transform: translateY(-50%);
      padding: 80px;
    }

    .form-title {
      color: $primary;
      font-weight: 100;
      font-size: 1.3rem;
      font-family: 'Raleway';
    }

    label {
      color: rgba($white, .9);
      font-size: .8rem;
    }

    button {
      margin-top: 10px;
    }
  }
}
