  @import "../app.component.scss";

  .plan-container {
    .content-container {
      color: $gray-700;
      text-align: center;

      .map-descriptor {
        @include opacity($white, .85);
        z-index: 10;
        padding: 20px;
        position: relative;
        width: 70%;
        border-radius: 10px;
        display: inline-block;

        .title {
          border-radius: 7px;
          font-weight: 100;
          font-size: 1.6rem;
          font-family: 'Raleway';
          color: $primary;
        }

        .text {
          padding: 20px;
          text-align: justify;
          font-size: .85rem;
          font-weight: bolder;
          font-family: 'Arima Madurai';
          color: $gray-800;
        }
      }

      .map-content {
        margin-top: -1.2rem;
        text-align: center;

        .zooms {
          @include opacity($primary, .95);
          margin: 10px 10px;
        }

        .plus {
          margin-bottom: 5px;
        }
      }
    }
  }
