<div class="container-fluid plan-container">
  <div class="content-container">
    <div class="map-descriptor">
      <p class="title">Pour venir sur notre parc :</p>
      <p class="text">Situé à 15 mn de Melun - Soit Par la <span class="highlight">D 605</span> 
        - Soit Par l’autoroute <span class="highlight">A5</span> 
        (sortie Montereau Fault Yonne - direction Le Chatelet en Brie)
        Accès transports en commun: <span class="highlight">RER D</span> station Melun 
        puis <span class="highlight">ligne 46</span> bus express « Seine et Marne » – arrêt Pamfou.</p>
    </div>
    <div class="map-content col-md-12">
      <div id="map"></div>
    </div>
  </div>
</div>
